{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block head %}{% endblock %}
        <link rel="stylesheet" href="{% static 'main/main.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    
        
        <link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <img src="{% static 'main/logo.png' %}" alt="logo" style="width: 100px;height: 100px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link {% block calendar_activate %}{% endblock %}" href="{% url 'calendar' %}">Kalendarz</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% block events_activate %}{% endblock %}" href="{% url 'events-search' %}">Wydarzenia</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% block profile_activate %}{% endblock %}" href="{% url 'profile-home' user.username %}">Profil</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {% block login %}{% endblock %}" href="{% url 'login' %}">Zaloguj się</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block register %}{% endblock %}" href="{% url 'register' %}">Zarejestruj się</a>
                </li>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
    <footer>
        <div class="footer-container">
            <div class="contact-info">
                <h3>Informacja kontaktowa</h3>
                <p>Email: 245111@edu.p.lodz.pl</p>
                <p>Phone: 570-245-215</p>
                <p>Address:  Stefana Żeromskiego 116, 90-924 Łódź</p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</html>