{% extends "main/base.html" %}
{% load static %}

{% block head %}
<title>Add event</title>
{% endblock head %}

{% block events_activate %}
active
{% endblock events_activate %}

{% block content %}
<div class="container-fluid" style="background-color: #F1E7E1; font-family:Bree Serif">
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mx-4 justify-content-center" style="min-height: 673px;">
                <div class="col-md-6 col-sm-12">
                    <div class="d-flex align-items-center ms-3" style="height: 100%;">
                        <div class="row text-center mt-3">
                            {% if errors %}
                            <div class="text-center pt-2 mb-2 col-md-12" style="background-color: lightcoral; color: white;">
                                {% for error in errors %}
                                <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <div class="col-md-12 text-center">
                                <label class="labels h3">Dodaj zdjęcie</label>
                            </div>
                            <div class="col-md-12">
                                <input type="file" class="form-control" name="picture" accept="image/png, image/jpeg" value="{% block image %}{% endblock %}" style="width: 100%;height: 100%;">
                            </div>
                            <div class="col-md-12">
                                <label class="labels h3">Tytuł</label>
                                <input type="text" class="form-control text-center" name="title" value="{% block title %}{% endblock %}" placeholder="">
                            </div>
                            <div class="col-md-12">
                                <label class="labels h3">Opis</label>
                                <textarea type="text" class="form-control text-center" name="description" placeholder="">{% block description %}{% endblock %}</textarea>
                            </div>
                            <div class="col-md-12">
                                <h3>Data rozpoczęcia</h3>
                            </div>
                            <div class="col-md-8">
                                <input type="date" class="form-control text-center" name="dateBegin" placeholder="DD/MM/YYYY">
                            </div>
                            <div class="col-md-4">
                                <input type="time" class="form-control text-center" name="hourBegin" placeholder="HH:MM">
                            </div>
                            <div class="col-md-12">
                                <h3>Data zakończenia</h3>
                            </div>
                            <div class="col-md-8">
                                <input type="date" class="form-control text-center" name="dateEnd" placeholder="DD/MM/YYYY">
                            </div>
                            <div class="col-md-4">
                                <input type="time" class="form-control text-center" name="hourEnd" placeholder="HH:MM">
                            </div>
                            <button class="col-md-12 text-center btn rounded-pill my-3" type="submit" style="background-color: #F2785C">
                                <h1 class="fw-bold">Zatwierdź</h1>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}