{% extends "main/events_search.html" %}
{% load static %}

{% block event %}
<div class="row py-3 px-1 justify-content-center align-items-center" style="height: 179px;">
    <div class="col-md-3">
        <img class="rounded" src="{% static 'main/event_blank.png' %}" alt="event-icon" style="width: 100%;height: 100%;">
    </div>
    <div class="col-md-9">
        <div class="container text-center">
            <h1 class="fw-bold">{{ currentEvent.title }}</h1>
        </div>
    </div>
</div>
<div class="row mx-4 my-2 py-3 rounded bg-white">
    <div class="col-md-12">
        <div class="container" style="height: 190px;">
            {{ currentEvent.description }} 
        </div>
    </div>
</div>
<h3>Wezmą udział</h3>
<div class="container">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <div class="row" style="height: 80px;">
                {% for user in currentEvent.users.all|slice:":10" %}
                <div class="col-md-3">
                    <a class="nav-link" href="{% url 'profile-home'  user.username %}" style="color: inherit;">{{ user.first_name }} {{ user.last_name }}</a>
                </div>
                {% endfor %}
            </div>
        </li>
    </ul>
</div>
<div class="row px-5">
    <a class="col-md-12 btn pt-1 rounded-pill text-center" href="{% url 'events-add' %}" style="background-color: #F2785C">
        <h1 class="fw-bold">Zgłoś udział</h1>
    </a>
</div>
{% endblock event %}