{% extends "main/base.html" %}
{% load static %}

{% block head %}
<title>Events list</title>
{% endblock head %}

{% block events_activate %}
active
{% endblock events_activate %}

{% block content %}
<div class="container-fluid" style="background-color: #F1E7E1; font-family:Bree Serif">
    <div class="row">
        <div class="col-md-6 py-2 ps-5 pe-4 border">
            <div class="container mb-2">
                {% for event in events %}
                <div class="row rounded border border-5 mb-2 bg-white">
                    <div class="col-md-1 p-3">
                        <div class="d-flex justify-content-center mt-2">
                            <img class="rounded" src="{% static 'main/event_blank.png' %}" alt="event-icon" style="width: 100%;height: 100%;">
                        </div>
                    </div>
                    <div class="col-md-9 btn pt-2 text-start">
                        <h4 class="fw-bold">{{ event.title }}</h4>
                        <p class="fs-5">{{ event.description }}</p>                   
                    </div>
                    <div class="col-md-2 text-end pt-2 text-muted">
                        {{ event.date }}
                    </div>
                </div>
                {% endfor %}
                <div class="row px-5">
                    <a class="col-md-12 btn pt-1 rounded-pill text-center" href="{% url 'events-add' %}" style="background-color: #F2785C">
                        <h1 class="fw-bold">Dodaj Ogłoszenie</h1>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 py-2 pe-3 border">
            <div class="container">
                <div class="row py-3 px-1">
                    <div class="col-md-3">
                        <img class="rounded" src="{% static 'main/event_blank.png' %}" alt="event-icon" style="width: 100%;height: 100%;">
                    </div>
                    <div class="col-md-9 p-5">
                        <div class="container p-3 text-center">
                            <h1 class="fw-bold">Tytuł wydarzenia</h1>
                        </div>
                    </div>
                </div>
                <div class="row m-4 py-3 rounded bg-white">
                    <div class="col-md-12">
                        <div class="container">
                            Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. Dowolny opis wydarzenia. 
                        </div>
                    </div>
                </div>
                <h3>Wezmą udział</h3>
                <div class="container p-2">
                    {% for row in participantRows %}
                    <div class="row">
                        {% for row in participantRows %}
                        <div class="col-md-3">
                            <p>1</p>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <div class="row px-5">
                    <a class="col-md-12 btn pt-1 mt-4 rounded-pill text-center" href="{% url 'events-add' %}" style="background-color: #F2785C">
                        <h1 class="fw-bold">Zgłoś udział</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}