{% extends "main/base.html" %}
{% load static %}

{% block head %}
<title>Events list</title>
{% endblock head %}

{% block events_activate %}
active
{% endblock events_activate %}

{% block content %}
<div class="container-fluid" style="background-color: #F1E7E1; font-family:Bree Serif">
    <div class="row">
        <div class="col-md-6 col-sm-12 py-2 ps-5 pe-4 border">
            <div class="container mb-2">
                <div class="container-fluid" style="height: 571px; max-height: 571px; overflow-y: scroll;">
                    {% for event in events %}
                    {% if event.accepted %}
                    <div class="row rounded border border-5 mb-2 bg-white">
                        <div class="col-md-1">
                            <div class="d-flex justify-content-center align-items-center" style="height: 100%;width: 100%;">
                                <img class="rounded" src="{% static 'main/event_blank.png' %}" alt="event-icon" style="width: 50px; height: 50px;">
                            </div>
                        </div>
                        <a class="col-md-9 btn pt-2 text-start" href="{% url 'events-info' event.id %}">
                            <h4 class="fw-bold">{{ event.title }}</h4>
                            <p class="fs-5">{{ event.description|slice:":50" }}</p>                   
                        </a>
                        <div class="col-md-2 text-end pt-2 text-muted">
                            {{ event.startDate }}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="row px-5 mt-2">
                    <a class="col-md-12 btn pt-1 rounded-pill text-center" href="{% url 'events-add' %}" style="background-color: #F2785C">
                        <h1 class="fw-bold">Dodaj Ogłoszenie</h1>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 py-2 pe-3 border">
            <div class="container">
                {% block event %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}