{% extends "main/events_search.html" %}
{% load static %}

{% block event %}
<div class="row py-3 px-1 justify-content-center align-items-center" style="height: 180px;">
    <div class="col-md-3">
        <img class="rounded" src="{% static 'main/event_blank.png' %}" alt="event-icon" style="width: 144px;height: 144px;">
    </div>
    <div class="col-md-9">
        <div class="container text-center">
            <h1 class="fw-bold">{{ currentEvent.title }}</h1>
        </div>
    </div>
</div>
<div class="row mx-4 my-2 py-3 rounded bg-white" style="height: 222px;">
    <div class="col-md-12">
        <div class="container">
            {{ currentEvent.description }} 
        </div>
    </div>
</div>
<h3>Wezmą udział</h3>
<div class="container">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <div class="row" style="height: 120px;">
                {% for user in currentEvent.users.all|slice:":12" %}
                <div class="col-md-3">
                    <a class="nav-link" href="{% url 'profile-home'  user.username %}" style="color: inherit;">{{ user.first_name }} {{ user.last_name }}</a>
                </div>
                {% endfor %}
            </div>
        </li>
    </ul>
</div>
<div class="row px-5">
    <form method="POST">
        {% csrf_token %}
        <button class="col-md-12 btn pt-1 rounded-pill text-center" type="submit" style="background-color: #F2785C">
            <h1 class="fw-bold">Zgłoś udział</h1>
        </button>
    </form>
</div>
{% endblock event %}