{% extends "main/base.html" %}

{% block head %}
<title>Profile</title>
{% endblock head %}

{% block profile_activate %}
active
{% endblock profile_activate %}

{% block content %}
<div class="container">
    <div class="main">
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                        <span class="font-weight-bold">{{ userInfo.username }}</span>
                        <span class="text-black-50">{{ userInfo.email }}</span>
                    </div>
                </div>
                <div class="col-md-6 border-right">
                    <div class="p-2 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Imię</label><input type="text" class="form-control" placeholder="Imię" value="{{ userInfo.first_name }}" {% if userCurrent.username != userInfo.username %} disabled {% endif %}></div>
                            <div class="col-md-6"><label class="labels">Nazwisko</label><input type="text" class="form-control" value="{{ userInfo.last_name }}" placeholder="Nazwisko"  {% if userCurrent.username != userInfo.username %} disabled {% endif %}></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">E-mail</label><input type="text" class="form-control" placeholder="E-mail" value="{{ userInfo.email }}"  {% if userCurrent.username != userInfo.username %} disabled {% endif %}></div>
                            <div class="col-md-12"><label class="labels">Numer telefonu</label><input type="text" class="form-control" placeholder="Numer telefonu" value="{{ profile.phone_number }}"  {% if userCurrent.username != userInfo.username %} disabled {% endif %}></div>
                            <div class="col-md-12"><label class="labels">Wydział</label><input type="text" class="form-control" placeholder="Wydział" value="{{ profile.faculty }}"  {% if userCurrent.username != userInfo.username %} disabled {% endif %}></div>
                            <div class="col-md-12"><label class="labels">Kierunek</label><input type="text" class="form-control" placeholder="Kierunek" value="{{ profile.course }}"  {% if userCurrent.username != userInfo.username %} disabled {% endif %}></div>
                            <div class="col-md-12"><label class="labels">Semestr studiów</label><input type="text" class="form-control" placeholder="Semestr studiów" value="{{ profile.semester }}"  {% if userCurrent.username != userInfo.username %} disabled {% endif %}></div>
                            <div class="col-md-12"><label class="labels">O mnie</label><textarea type="text" class="form-control" placeholder="{{ profile.bio }}"  {% if userCurrent.username != userInfo.username %} disabled {% endif %}></textarea></div>
                        </div>
                        {% if userCurrent.username == userInfo.username %}
                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
